# Python
__pycache__/
*.py[cod]
*$py.class
.env
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Flask
instance/
.webassets-cache
uploads/

# Local configuration files
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store
